.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  overflow-x: hidden;


}
.commonComp{
  margin-right: 5px;
}

.expEdu{
  display: flex;
  flex-direction: row;

}
.rowStyle{

  display: flex !important;
  flex-direction: row !important;
  /* margin: 10px; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
